/* RESETS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
img {
    width: 100%;
}


/* UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-shadow {
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 30px black, 0 0 40px black, 0 0 50px black;
}

.nav-shadow {
    text-shadow: 0 0 2px black, 0 0 5px black, 0 0 10px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 75px black, 0 0 100px black, 0 0 250px black;
}


/* BODY STYLES */

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
  
/* Workaround for "background-attachment: fixed" not working for mobile devices
From https://stackoverflow.com/questions/61733809/full-page-fixed-background-jumps-when-scrolling-because-of-the-bottom-bar-on-mob */
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transform: scale(1.0); 
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('img/body_bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: aliceblue;
}

/* HEADER STYLES */

.header-art {
    height: 100vw;
    width: 100vw;
    max-width: 100%;
    background-image: url('img/hero_small.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

nav {
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.822));
    color: rgb(255, 255, 237);
    padding-top: 2vh;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul { 
    list-style-type: none;
    font-family: 'Marcellus', serif;
}

nav ul {
    display: flex;
    font-size: clamp(1.1rem, 5.5vw, 2.5rem);
    justify-content: space-evenly;
    align-items: center;
}

nav ul li {
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 2vw;
}

li a {
    color: rgb(255, 255, 238);
    transition: font-size 0.5s;
}

li a:hover {
    font-size: 110%;
}

a {
    color: aliceblue;
    text-decoration: none;
}




/* MAIN STYLES */

p {
    font-family: 'Marcellus', serif;
    font-size: clamp(1.1rem, 2vw, 2rem);
    letter-spacing: 0.05rem;
    padding: max(10px, 1.5vw) 20px;
    text-align: center;
}

p a {
    color: rgb(167, 197, 253);
    text-decoration: underline;
}

p a:visited {
    color: rgb(206, 206, 241);
}

p a:hover {
    color: bisque;
}

h2, h3, h4 {
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 0.05rem;
    text-align: center;
}

h2 {
    justify-content: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding: 4vh 2vh;
}

h3 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    padding: 1.5vh;
}

h4 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
}


/* HERO TEXT */

.welcome-text {
    position: absolute;
    top: calc( 0.2 * (100vw / ( 1210 / 1080 )));
    left: 30vw;
    padding: 0;

    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    font-size: clamp(1.5rem, 7vw, 4rem);
    padding: 0;
}

.hero-text {
    position: absolute;
    top: calc( 0.3 * (100vw / ( 1210 / 1080 )));
    left: 50vw;
    max-width: 50vw;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: clamp(1rem, 4vw, 2.5rem);
    padding: 0 10px;
    text-align: center;
}

.h23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-width: 1500px;
}

/* ABOUT SECTION */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

span::after {
    content: "@gmail.com";
}

.about h3 {
    padding: 20px 0;
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.logo-card img {
    width: min(9vw, 100px);
}

.logo-card p {
    padding: 5px;
}



/* WEB DEV SECTION */

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4vw;
    padding: 1.5vw;
    row-gap: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    max-width: 550px;
}

.projects p {
    padding: 15px 0;
    text-align: left;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.button-link {
    display: flex;
    align-items: center;
    font-family: 'Marcellus', serif;
    font-size: clamp(1.1rem, 2.2vw, 2rem);
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(192, 192, 192);
    color: black;
    border-radius: 10px;
}


/* ART SECTION */

.fotu-column {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
}

.fotu-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    max-width: 600px;
    padding: 2vw;
}

.fotu-vftl {
    padding-top: 0;
}

.fotu-grid img, 
.sword-grid img {
    height: 100%;
    object-fit: cover;
}

.sword-grid {
    display: grid;
    grid-template-columns: 0.353fr 0.647fr;
    gap: 5px;
    width: min(90vw, 1200px);
}

.sword-grid img:first-child {
    grid-column: 1 / 3;
}

.sword-grid img:nth-child(2) {
    grid-row: 2 / 3;
}

.sword-grid img:nth-child(3) {
    grid-row: 2 / 3;
}

.sword-grid img:last-child {
    grid-column: 1 / 3;
}

.sword-previews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    gap: 5px;
    width: min(90vw, 1500px);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.829);
    border: 1px solid rgb(31, 31, 31);
    border-radius: 10px;
    font-family: 'Cinzel', sans-serif;
    font-size: min(8vw, 50px);
    font-weight: 700;
    text-align: center;
    position: sticky;
    bottom: 0;
}

footer a {
    width: min(14vw, 80px);
    aspect-ratio: 1;
}




/* -----------------  MEDIA QUERIES  -------------------- */




@media screen and (min-width: 768px) {
    .flex-column {
        width: auto;
    }

    .header-art {
        height: calc(100vw / (1920 / 1080));
        background-image: url('img/hero_large.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .welcome-text {
        position: absolute;
        top: calc( 0.2 * (100vw / ( 1920 / 1080 )));
        left: 55vw;
        padding: 0;
        font-size: clamp(2rem, 5vw, 8rem);
    }

    .hero-text {
        top: calc( 0.33 * (100vw / ( 1920 / 1080 )));
        left: 55vw;
        max-width: 40vw;
        font-size: clamp(1rem, 3vw, 4.2rem);
    }

    nav {
        padding: 0;
        width: auto;
    }

    nav ul {
        background-image: radial-gradient(ellipse at top right, black, black 10%, transparent 75%);
        height: calc( 0.2 * (100vw / ( 1920 / 1080 )));
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0 2vw;
        position: fixed;
        right: 0;
    }

    nav ul li {
        font-size: clamp(1.3rem, 2.5vw, 2.8rem);
        letter-spacing: 3px;
    }

    p {
        max-width: 85vw;
    }

    .h23 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-container {
        display: grid;
        gap: 1vw;
        padding: 2vw;
        max-width: 95vw;
    }

    .about-container > section {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        width: min(42vw, 600px);
    }

    .about-container > img {
        grid-column: 1 / 2;
        width: min(42vw, 700px);
    }

    .icons {
        column-gap: 0.5vw;
    }

    .logo-card {
        padding: 10px;
    }

    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(317px, 1fr));
        padding: 20px;
        gap: 2vw;
        max-width: min(90vw, 1500px);
    }

    .fotu, .fotu-grid {
        max-width: 1900px;
    }

    .fotu-column {
        width: min(97vw, 1900px);
    }

    .fotu-grid {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr 1fr 3fr;
        grid-template-rows: repeat(4, 1fr);
        padding: 0.5vw;
        gap: 0.5vw;
    }

    .fotu-grid img:first-child { grid-column: 1 / 4 }

    .fotu-grid img:nth-child(2) { grid-column: 4 / 7 }

    .fotu-grid img:nth-child(3) { grid-column: 1 / 3 }

    .fotu-grid img:nth-child(4) { grid-column: 3 / 5 }

    .fotu-grid img:nth-child(5) { grid-column: 5 / 7 }

    .fotu-grid img:nth-child(6) { grid-column: 1 / 4 }

    .fotu-grid img:nth-child(7) { grid-column: 4 / 7 }

    .fotu-grid img:nth-child(8) { grid-column: 1 / 2 }

    .fotu-grid img:nth-child(9) { grid-column: 2 / 4 }

    .fotu-grid img:nth-child(10) { grid-column: 4 / 6 }

    .fotu-grid img:nth-child(11) { grid-column: 6 / 7 }

    .sword-grid {
        grid-template-columns: 0.468fr 0.1786fr 0.3534fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .sword-grid img:first-child {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .sword-grid img:nth-child(2) {
        grid-row: 1 / 2;
    }
    
    .sword-grid img:nth-child(3) {
        grid-row: 1 / 2;
    }
    
    .sword-grid img:last-child {
        grid-column: 2 / 4;
    }
    
    .sword-previews {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    footer {
        position: static;
    }
}

